django==1.10.5
uwsgi==2.0.14
psycopg2==2.7.2
django_jenkins==0.110.0
django-rest-swagger==2.1.1
djangorestframework==3.5.3
celery==4.0.2
django-celery==3.2.1
nltk==3.2.1
konlpy==0.4.4
gensim==1.0.1
keras==2.0.2
flower==0.9.1
neo4j-driver==1.2.1
opencv-python==3.2.0.7
django-cors-headers==2.0.2
hanja==0.11.0
ngram==3.3.2
gunicorn==19.6.0
